---
layout: default
title: Marine Self-Powered System Lab
categories:
- home
category: home
---

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="row">
	<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
		<div id="slidershow" class="carousel_iframe carousel slide" data-ride="carousel" data-interval=4000
			data-pause="hover" data-wrap="true" style="margin-top: 0rem; margin-left:auto; margin-right:auto;">
			<!-- 设置图片轮播的顺序 -->
			<ol class="carousel-indicators">
				<li class="active" data-target="#slidershow" data-slide-to="0"></li>
				<li data-target="#slidershow" data-slide-to="1"></li>
				<li data-target="#slidershow" data-slide-to="2"></li>
				<li data-target="#slidershow" data-slide-to="3"></li>
				<li data-target="#slidershow" data-slide-to="5"></li>
				<li data-target="#slidershow" data-slide-to="6"></li>
			</ol>
			<!--设置轮播的图片-->
			<div class="carousel-inner" style="border-radius: 15px;">
				<div class="item active" style="border-radius: 15px;">
					<a
						href="/papers/A-highly-sensitive-wave-sensor-based-on-liquid-solid-interfacing-triboelectric-nanogenerator-for-smart-marine-equipment/"><img
							src="https://cdn.jsdelivr.net/gh/MSPSLab/lab_images/home/home_1.png"
							alt="cat2" style="margin: 0 auto;border-radius: 15px; padding-bottom: 8px;"></a>
					</div>
				<div class="item">
					<a
					href="/papers/Sandwich-like-triboelectric-nanogenerators-integrated-self-powered-buoy-for-navigation-safety/"><img
						src="https://cdn.jsdelivr.net/gh/MSPSLab/lab_images/home/home_2.png"
						alt="cat2" style="margin: 0 auto;border-radius: 15px; padding-bottom: 8px;"></a>
				</div>
				<div class="item">
					<a
					href="/papers/A-Triboelectric-Based-Artificial-Whisker-for-Reactive-Obstacle-Avoidance-and-Local-Mapping/"><img
						src="https://cdn.jsdelivr.net/gh/MSPSLab/lab_images/home/home_3.png"
						alt="cat2" style="margin: 0 auto;border-radius: 15px; padding-bottom: 8px;"></a>
				</div>
				<div class="item">
					<a
					href="/papers/Honeycomb-Structure-Inspired-Triboelectric-Nanogenerator-for-Highly-Effective-Vibration-Energy-Harvesting-and-Self-Powered-Engine-Condition-Monitoring/"><img
						src="https://cdn.jsdelivr.net/gh/MSPSLab/lab_images/home/home_4.png"
						alt="cat2" style="margin: 0 auto;border-radius: 15px; padding-bottom: 8px;"></a>
				</div>
				<div class="item">
					<a
					href="/papers/Dual-Tube-Helmholtz-Resonator-Based-Triboelectric-Nanogenerator-for-Highly-Efficient-Harvesting-of-Acoustic-Energy/"><img
						src="https://cdn.jsdelivr.net/gh/MSPSLab/lab_images/home/home_5.png"
						alt="cat2" style="margin: 0 auto;border-radius: 15px; padding-bottom: 8px;"></a>
				</div>
				<div class="item">
					<a
					href="/papers/Recent-progress-in-blue-energy-harvesting-for-powering-distributed-sensors-in-ocean/"><img
						src="https://cdn.jsdelivr.net/gh/MSPSLab/lab_images/home/home_6.png"
						alt="cat2" style="margin: 0 auto;border-radius: 15px; padding-bottom: 8px;"></a>
				</div>
			</div>
			<p class="left carousel-control" href="#slidershow" role="button" data-slide="prev"
				style="width: 10%;border-radius: 15px;">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</p>
			<p class="right carousel-control" href="#slidershow" role="button" data-slide="next"
				style="width: 10%;border-radius: 15px;">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</p>
		</div>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-12 hidden-sm hidden-xs homerighttextdiv"
		style="height: 400px;overflow-y: scroll;background: linear-gradient(203deg, #4aa96b1c 0%, #b3cbf157 100%);border-radius: 15px;"">
		<p style=" line-height: ;" class="homerighttext">
		<i class="fa fa-quote-left fa-fw" style="color: gray; font-style:italic;"></i>
		We are currently hiring motivated team members, including <strong>postgraduates students</strong> and
		<strong>visiting members</strong>.
		<br>
		&emsp;We encourage students from mechanical, energy, computer, electrical, and
		automation majors to join our team and promote a multidisciplinary atmosphere where students from different
		majors are welcome to join the lab.
		<br>
		&emsp;Applicants are advised to provide: CV、Summary of previous academic achievements and representative
		publications、Envisioned future research work plan、Letters of recommendation from experts.
		<br>
		&emsp;Interested Applications for any position should be submitted directly to <a href="/team/Minyi-Xu/"
			rel="noopener noreferrer"><strong>Prof. Xu</strong></a> by e-mail.
		<br>
		&emsp;For more details, please click the link to explore: <a href="/misc/Join-us/"
			rel="noopener noreferrer"><strong>Join us</strong></a>
		<i class="fa fa-quote-right fa-fw" style="color: gray; font-style:italic;"></i>
		</p>
	</div>
</div>

<div class="bigspacer"></div>
<div class="row">
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/papers/">Recent Papers
			</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox">
			{% for paper in site.categories.papers limit:5 %}
			<div class="note-title">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
				</a>
				<br />
				<div class='ref note'>
					{{ paper.ref }}
				</div>
			</div>
			<div class="smallnote">
				Published
				{{ paper.date | date_to_string }}
			</div>
			<div class="spacer"></div>
			<div class="spacer"></div>
			{% endfor %}
		</div>
	</div>

	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/news/">Recent News</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox">
			{% for news in site.categories.news limit:5 %}

			{% for member in site.categories.team %}
			{% if member.handle == news.author_handle %}
			{% assign author = member %}
			{% endif %}
			{% endfor %}

			<div class="note-title">
				<i class="fa fa-bullhorn"></i>
				<a class="off" href="{{ news.url }}">
					{{ news.title }}
				</a>
			</div>
			<div class="smallnote">
				Published
				{{ news.date | date_to_string }}
				{% if news.author %}
				by <a class="off" href="/team/{{news.url_author}}">
					{{ news.author }}
				</a>
				{% endif %}
			</div>
			<div class="spacer"></div>
			<div class="spacer"></div>
			{% endfor %}
		</div>
	</div>

	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/blog/">Recent Blogs</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox">
			{% for blog in site.categories.blog limit:5 %}
			<div class="note-title">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ blog.url }}">
					{{ blog.title }}
				</a>
				<br />
				<div class='ref note'>
					{{ blog.description }}
				</div>
			</div>

			<div class="smallnote">
				Posted
				{{ blog.date | date_to_string }}
				<!-- {% if blog.author %}
				by <a class="off" href="/team/{{blog.url_author}}">
					{{ blog.author }}
				</a>
				{% endif %} -->
			</div>
			<div class="spacer"></div>
			<div class="spacer"></div>
			{% endfor %}
		</div>

	</div>

</div>