---
layout: default
title: Marine Self-Powered System Lab
categories:
- home
category: home
---

<div class="row">
	<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
		<h2 class="intro-text">
			Marine Self-Powered System Lab led by <a href="/team/Minyi-Xu/" rel="noopener noreferrer">Prof. Minyi
				Xu</a>, is committed to ocean blue energy and explores new ways of
			self-powered systems to reduce carbon footprint and be more energy independent. We are part of the <a
				href="http://mec.dlmu.edu.cn" target="_blank" rel="noopener noreferrer">Department of Marine
				Engineering</a>
			at the <a href="http://www.dlmu.edu.cn" target="_blank" rel="noopener noreferrer">Dalian Maritime
				University</a>.
		</h2>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
		<img class="biglogo img-responsive" src="/images/biglogo.png" type="image/svg+xml">
	</div>
</div>
<div class="row">
	<div style="padding-left:15px;padding-right: 15px;">
		<img class="pull-right img-thumbnail" style="border-radius: 50%;width: 100px;margin-left: 15px;"
			src="/images/team/xuminyi.jpg">
		<p style="font-style:italic;">
			<i class="fa fa-quote-left fa-fw" style="color: gray; font-style:italic;"></i>
			Our research areas include ocean energy, underwater sensing, maritime rescue, ship inspection, smart
			nacelles, green and healthy ship technology. Our desire is to achieve partial energy independence through
			self-powered system and to create more dynamic and exiting research in energy harvesting, sensors,
			communication, and control application. We embrace the values of integrity, excellence and teamwork, and we
			practice integrity in all its forms and are honest and fair to other team members and collaborators; We have
			a zero tolerance policy for plagiarism and falsification of results; We strive for excellence in everything
			we do and insist on scientific quality; Our goal is to develop hands-on individuals with excellent
			analytical, technical and communication skills; Ideas are freely shared and discussed, and we believe that
			great teamwork is the key to great science.; And we strive to build great collaborative relationships within
			and outside the group. With a truly diverse culture, each member of our team is passionate and committed to
			the research area of interest, we want to work with like-minded partners and encourage applicants from
			diverse backgrounds to join our team.
			<i class="fa fa-quote-right fa-fw" style="color: gray; font-style:italic;"></i>

		</p>
	</div>

</div>

<div class="bigspacer"></div>



<div class="row">

	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/papers/">Recent Papers
			</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox">
			{% for paper in site.categories.papers limit:3 %}
			<div class="note-title">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
				</a>
				<br />
				<div class='ref note'>
					{{ paper.ref }}
				</div>
			</div>
			<div class="smallnote">
				Published
				{{ paper.date | date_to_string }}
			</div>
			<div class="spacer"></div>
			<div class="spacer"></div>
			{% endfor %}
		</div>
	</div>

	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/news/">Recent News</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox">
			{% for news in site.categories.news limit:3 %}

			{% for member in site.categories.team %}
			{% if member.handle == news.author_handle %}
			{% assign author = member %}
			{% endif %}
			{% endfor %}

			<div class="note-title">
				<i class="fa fa-bullhorn"></i>
				<a class="off" href="{{ news.url }}">
					{{ news.title }}
				</a>
			</div>
			<div class="smallnote">
				Published
				{{ news.date | date_to_string }}
				{% if news.author %}
				by <a class="off" href="/team/{{news.url_author}}">
					{{ news.author }}
				</a>
				{% endif %}
			</div>
			<div class="spacer"></div>
			<div class="spacer"></div>
			{% endfor %}
		</div>
	</div>

	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/blog/">Recent Blogs</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox">
			{% for blog in site.categories.blog limit:3 %}
			<div class="note-title">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ blog.url }}">
					{{ blog.title }}
				</a>
				<br />
				<div class='ref note'>
					{{ blog.description }}
				</div>
			</div>

			<div class="smallnote">
				Posted
				{{ blog.date | date_to_string }}
				<!-- {% if blog.author %}
				by <a class="off" href="/team/{{blog.url_author}}">
					{{ blog.author }}
				</a>
				{% endif %} -->
			</div>
			<div class="spacer"></div>
			<div class="spacer"></div>

			{% endfor %}
		</div>
		<div class="bigspacer"></div>


	</div>

</div>