<div class="row">
    <div class="col-sm-12 col-xs-12" style=" display: flex; flex-direction: row; justify-content: center;">
        <div class="centered-pills pull-right" style="overflow-x: scroll;">
            <ul class="nav nav-pills" style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">

                <li role="presentation" class="{{include.all}}">
                    <a class="off" href="/papers/">
                        <i class="fa fa-clock-o fa-fw"></i> All
                    </a>
                </li>
                <li role="presentation" class="{{include.journal}}">
                    <a class="off" href="/papers/Journal-Papers/">
                        <i class="fa fa-tasks fa-fw"></i> Journal
                    </a>
                </li>

                <li role="presentation" class="{{include.conference}}">
                    <a class="off" href="/papers/Conference-Papers">
                        <i class="fa fa-comments-o fa-fw"></i> Conference
                    </a>
                </li>
                <li role="presentation" class="{{include.patents}}">
                    <a class="off" href="/papers/Patents">
                        <i class="fa fa-fighter-jet fa-fw"></i> Patents
                    </a>
                </li>
                <li role="presentation" class="{{include.books}}">
                    <a class="off" href="/papers/Books">
                        <i class="fa fa-book fa-fw"></i> Books
                    </a>
                </li>


            </ul>
        </div>
        <div class="bigspacer"></div>
    </div>
</div>