<div class="row">
    <div class="col-sm-6 col-xs-12">
        <h1>Research</h1>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="centered-pills pull-right">
            <ul class="nav nav-pills">
                <li role="presentation" class="{{include.research}}">
                    <a class="off" href="/research/">
                        <i class="fa fa-refresh fa-fw"></i>By types
                    </a>
                </li>
                <li role="presentation" class="{{include.archive}}">
                    <a class="off" href="/research/archive/">
                        <i class="fa fa-list-ul fa-fw"></i>By topic
                    </a>
                </li>
            </ul>
        </div>
        <div class="bigspacer"></div>
    </div>
</div>