<div class="row">
    <div class="col-sm-12 col-xs-12" style=" display: flex; flex-direction: row; justify-content: center;">
        <div class="centered-pills pull-right" style="overflow-x: scroll;">
            <ul class="nav nav-pills" style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap; padding-bottom: 20px;">
                <li role="presentation" class="{{include.all}}">
                    <a class="off" href="/team/">
                        <i class="fa fa-clock-o fa-fw"></i> All
                    </a>
                </li>
                <li role="presentation" class="{{include.teachers}}">
                    <a class="off" href="/team/Teachers/">
                        <i class="fa fa-user fa-fw"></i> Teachers
                    </a>
                </li>

                <li role="presentation" class="{{include.graduate-Students}}">
                    <a class="off" href="/team/Graduate-Students">
                        <i class="fa fa-flask fa-fw"></i> Postgraduates
                    </a>
                </li>
                <li role="presentation" class="{{include.prior-Members}}">
                    <a class="off" href="/team/Prior-Members">
                        <i class="fa fa-plane fa-fw"></i> Prior
                    </a>
                </li>
                <li role="presentation" class="{{include.visiting-Students}}">
                    <a class="off" href="/team/Visiting-Students">
                        <i class="fa fa-comments-o fa-fw"></i> Visiting
                    </a>
                </li>
            </ul>
        </div>
        <div class="bigspacer"></div>
    </div>
</div>