<div class="row">
    <div class="col-sm-12 col-xs-12" style="
    display: flex;
    flex-direction: row;
    justify-content: center;
">        <div class="centered-pills pull-right">
            <ul class="nav nav-pills">
                <li role="presentation" class="{{include.all}}">
                    <a class="off" href="/team/">
                        <i class="fa fa-clock-o fa-fw"></i> All
                    </a>
                </li>
                <li role="presentation" class="{{include.teachers}}">
                    <a class="off" href="/team/Teachers/">
                        <i class="fa fa-tasks fa-fw"></i> Teachers
                    </a>
                </li>

                <li role="presentation" class="{{include.graduate-Students}}">
                    <a class="off" href="/team/Graduate-Students">
                        <i class="fa fa-comments-o fa-fw"></i> Graduate Students
                    </a>
                </li>
                <li role="presentation" class="{{include.visiting-Students}}">
                    <a class="off" href="/team/Visiting-Students">
                        <i class="fa fa-fighter-jet fa-fw"></i> Visiting Students
                    </a>
                </li>
                <li role="presentation" class="{{include.prior-Members}}">
                    <a class="off" href="/team/Prior-Members">
                        <i class="fa fa-book fa-fw"></i> Prior Members
                    </a>
                </li>
            </ul>
        </div>
        <div class="bigspacer"></div>
    </div>
</div>