---
layout: default
title: Marine Self-Powered System Lab / Media
categories:
- videos
images:
  - path: "/lab_images/others/1X.png"
    title: pic
  - path: "/lab_images/others/2.png"
    title: pic
  - path: "/lab_images/others/3.png"
    title: pic
  - path: "/lab_images/others/4.png"
    title: pic	
  - path: "/lab_images/others/5.png"
    title: pic
  - path: "/lab_images/others/6.jpg"
    title: pic
  - path: "/lab_images/others/7.jpg"
    title: pic   
  - path: "/lab_images/others/9.jpg"
    title: pic   
  - path: "/lab_images/others/10.jpg"
    title: pic   
  - path: "/lab_images/others/11.jpg"
    title: pic
  - path: "/lab_images/others/12.jpg"
    title: pic   
  - path: "/lab_images/others/13.jpg"
    title: pic   
  - path: "/lab_images/others/14.jpg"
    title: pic   
  - path: "/lab_images/others/15.jpg"
    title: pic 
  - path: "/lab_images/others/16.jpg"
    title: pic
  - path: "/lab_images/others/17.jpg"
    title: pic   
  - path: "/lab_images/others/18.jpg"
    title: pic   
  - path: "/lab_images/others/19.jpg"
    title: pic       
---

{% include media-header.html media="active" %}

<div class="row" style="padding-bottom: 20px;">
	{% for image in page.images %}
	<div class="col-lg-4 col-sm-6 item" style="padding-bottom: 20px;">
		{% if image.title == "pic" %}
		<img src="{{ image.path }}" style="border-radius: 15px;">
		{% else %}
		<video id="video" controls="" preload="auto" style="width: 100%;border-radius: 15px;">
			<source id="mp4" src="{{ image.path }}" type="video/mp4">
		</video>
		{% endif %}
	</div>
	{% endfor %}
</div> 

