---
layout: default
---

{% assign member = page %}

<div class="row">
	<div class="col-md-12">
		<div class="media">
			{% if member.image %}
			<img class="pull-left media-object profile-picture" width=120 src="{{ member.image }}">
			{% endif %}
			<div class="media-body titlebox">
				<div class="bigtitle media-heading">
					<h2>{{ member.title }}</h2>
				        <h4>{{ member.position }}</h4>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		{% if member.cv %}
		<div class="smallhead">
			<i class="fa fa-user fa-fw"></i>
			CV
		</div>
		<div class="pad-left-20 note">
			<div class="smallspacer"></div>
			<i class="fa fa-file-text-o fa-fw"></i>
			<a class="off" href="{{ member.cv }}">{{ member.cv | split: '/' | last }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		<!-- {% if member.twitter %}
		<div class="smallhead">
			<i class="fa fa-twitter fa-fw"></i>
			Twitter
		</div>
		<div class="pad-left-20 note">
			<div class="smallspacer"></div>
			<a class="off" href="https://twitter.com/{{ member.twitter }}">{{ member.twitter }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %} -->
		{% if member.github %}
		<div class="smallhead">
			<i class="fa fa-github-alt fa-fw"></i>
			GitHub
		</div>
		<div class="pad-left-20 note">
			<div class="smallspacer"></div>
			<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.scholar %}
		<div class="smallhead">
			<i class="ai ai-google-scholar"></i>
			Google Scholar
		</div>
		<div class="pad-left-20 note">
			<div class="smallspacer"></div>
			<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.orcid %}
		<div class="smallhead">
			<i class="ai ai-orcid"></i>
			ORCID
		</div>
		<div class="pad-left-20 note">
			<div class="smallspacer"></div>
			<a class="off" href="https://orcid.org/{{ member.orcid }}">{{ member.orcid }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.calendar %}
		<div class="smallhead">
			<i class="fa fa-calendar fa-fw"></i>
			Calendar
		</div>
		<div class="pad-left-20 note">
			<div class="smallspacer"></div>
			<a class="off" href="{{ member.calendar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			<i class="fa fa-inbox fa-fw"></i>
			Email
		</div>
		<div class="pad-left-20 note">
			<div class="smallspacer"></div>
			<a href="mailto:{{ emailarray.first }}@{{ emailarray.last }}">{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
	</div>
	<div class="col-md-9">
		<div class="post">
			{{ content }}
		</div>
		<!-- news -->
		{% for news in site.categories.news %}
			{% if news.author %}
				{% if member.title == news.author %}
					{% assign newssq = true %}
				{% endif %}
			{% endif %}
			{% if news.authors %}
				{% for author in news.authors %}
					{% if member.title == author %}
						{% assign newssq = true %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% if newssq == true %}
			<div class="head">News</div>
			<div class="spacer"></div>
			{% for news in site.categories.news %}
				{% if news.author %}
					{% if member.title == news.author %}
						<p><a href="{{ news.url }}" class="off">{{ news.title }}</a>
					{% endif %}
				{% endif %}
				{% if news.authors %}
					{% assign found = false %}
					{% for author in news.authors %}
						{% if member.title == author %}
							{% assign found = true %}
						{% endif %}
					{% endfor %}
					{% if found %}
						<p><a href="{{ news.url }}" class="off">{{ news.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
		<!-- blog -->
		{% for post in site.categories.blog %}
			{% if post.author %}
				{% if member.title == post.author %}
					{% assign postsq = true %}
				{% endif %}
			{% endif %}
			{% if post.authors %}
				{% for author in post.authors %}
					{% if member.title == author %}
						{% assign postsq = true %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% if postsq == true %}
			<div class="head">Blogs</div>
			<div class="spacer"></div>
			{% for post in site.categories.blog %}
				{% if post.author %}
					{% if member.title == post.author %}
						<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
					{% endif %}
				{% endif %}
				{% if post.authors %}
					{% assign found = false %}
					{% for author in post.authors %}
						{% if member.title == author %}
							{% assign found = true %}
						{% endif %}
					{% endfor %}
					{% if found %}
						<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}

	</div>
	<div class="col-md-1"></div>
</div>
