---
layout: default
---
 
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-md-12 title-box">

				{% if page.image %}
				<img src="{{ page.image }}" class="paper-img">
				{% endif %}
				<h5 class="page-title-paper">
					{{ page.title }}
				</h5>
				<p>
					{{ page.authors }};
					{{ page.journal }}.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-xs-12">
		<div class="glyphbox">
			{% if page.pdf %}
			<h6>
				<i class="fa fa-file-text-o fa-fw"></i> PDF
			</h6>
			<a class="off" target="_blank" href="{{ page.pdf }}">{{ page.pdf | split: '/' | last }}</a>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.supplement %}
			<h6>
				<i class="fa fa-paperclip fa-fw"></i> Supplement
			</h6>
			<a class="off" href="{{ page.supplement }}">{{ page.supplement | split: '/' | last }}</a>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.num %}
			<h6>
				<i class="fa fa-bullseye fa-fw"></i> 申请(专利)号
			</h6>
			<a class="off" href="">{{ page.num }}</a>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.catenum %}
			<h6>
				<i class="fa fa-dot-circle-o fa-fw"></i> 分类号
			</h6>
			<a class="off" href="">{{ page.catenum }}</a>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.mainnum %}
			<h6>
				<i class="fa fa-asterisk fa-fw"></i> 主分类号
			</h6>
			<a class="off" href="">{{ page.mainnum }}</a>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.ISBN %}
			<h6>
				<i class="fa fa-book fa-fw"></i> ISBN
			</h6>
			<a class="off" href="">{{ page.ISBN }}</a>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.bookurl %}
			<h6>
				<i class="fa fa-chain-broken fa-fw"></i> Book url
			</h6>
			<a class="off" href="{{ page.bookurl }}">{{ page.bookurl }}</a>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.doi %}
			<h6>
				<i class="ai ai-doi"></i> DOI
			</h6>
			<a class="off" href="http://dx.doi.org/{{ page.doi }}">{{ page.doi }}</a>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.github %}
			<h6>
				<i class="fa fa-github-alt fa-fw"></i> GitHub
			</h6>
			<a class="off" href="{{ page.github }}">{{ page.github | remove: 'http://github.com/MSPSLab' | remove:
				'https://github.com/MSPSLab' }}</a>
				<div class="bigspacer"></div>
			{% endif %} 
			<div data-badge-details="right" data-badge-type="donut" data-doi="{{ page.doi }}" data-condensed="true" data-hide-no-mentions="true" class="altmetric-embed"></div>
					
			<span style="padding-bottom: 20px;" class="__dimensions_badge_embed__" data-doi="{{ page.doi }}" data-hide-zero-citations="false" data-legend="always" data-style="small_circle"></span><script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
		</div>
	</div>
	<div class="col-md-9 paper-abstract">
		<div class="post">
			{{ content }}
		</div>
	</div>
</div>
