---
layout: default
---

<div class="blog-post">
	<div class="row">
		<div class="col-md-12 title-box">
			<h5>
				{{ page.title }}
			</h5>
			<p class="subhead">
				{{ page.date | date: "%-d %b %Y" }}
				{% if page.author %}
				by <a class="off" href="/team/{{page.url_author}}">
				  {{ page.author }}
			   </a>
				{% endif %}
			</p>
		</div>
	</div>

	<div class="bigspacer"></div>

	<div class="row">
		<div class="col-sm-12 col-xs-12">
			<!-- {% if page.image %}
			{% if page.link %}
			<a href="{{ page.link }}">
				<img class="offset" src="{{ page.image }}">
			</a>
			{% else %}
				<img class="offset" src="{{ page.image }}"> 
			{% endif %}
			{% endif %} -->
			<div class="post">
				{{ content }}
			</div>
		</div>
	</div>


</div>
